/**********************************
	MAP
 **********************************/

/*
  Map wrapper for positioning.
 */
.eatlas-map-client-map-wrapper {
	position: relative;
}

/*
  Map
 */
.eatlas-map-client-map {
	position: relative;
}

.eatlas-map-client-map.small-map {
	height: 20vh;
}

.eatlas-map-client-map.medium-map {
	height: 50vh;
}

.eatlas-map-client-map.large-map {
	height: 85vh;
}

@media (min-width: 768px) {
	.eatlas-map-client-map .aims-map-ui-container .aims-map-side-bar {
		max-width: 350px;
	}

	.eatlas-map-client-map .aims-map-ui-container .aims-map-ui-row-container .aims-map-row-panel {
		max-width: 720px;
	}
}

/* Modal box overrides */
@media (min-width: 576px) {
	body div.modal-dialog {
		margin: 0.5rem;
	}
}
@media (min-width: 676px) {
	body div.modal-dialog {
		max-width: 600px !important;
		margin: 1.75rem auto;
	}
}

/*
  Special styles for buttons
 */
.aims-map-ui-container i.material-icons {
  font-size: 1.0em;
  line-height: 1.5em;
}
